@import "normalize.css";
/* you can actually drop the `~` when importing node modules with css modules enabled? but there might be build error when you @import your own css, resolve will take care of that in the `webpack.config.js` */

body {
  background: gray;
  position: absolute;
  height:50%;
  width: 50%;
}
